body {
  background-image: url(Tinder-logo.jpg);
  background-size: cover;
  padding: 50px 50px;
}

hs {
  color: black;
  margin-left: 20px;
  text-align: center;
  font-style: italic;
  font-size: 100px;
  font-weight: bold;
  padding-bottom: 20px;
}
label {
  color: black;
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
}

a1{
  color: LightGray;
  text-decoration-line: underline;
}

nounderline {
  text-decoration: none !important
}


card1{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 120%;
  height: 180%;
  text-align: center;
  padding: 50px 20px;
}

container {
  padding: 100px 100px;
  
}

buttonfb { 
  padding: 20px;
  color: white;
  background-color:  #4267b2;
  padding: 40px 80px;
  border-style: solid;
  border-radius: 80px;
  border-color: #4267b2;  
  font-size: 50px;
  text-decoration: none;
}

buttonph { 
  padding: 20px;
  color: LightGrey;
  background-color:  #00000;
  padding: 40px 60px;
  border-radius: 80px;
  border-style: solid;
  border-color: LightGrey;
  font-size: 42px;
  text-decoration: none;
}

html{
zoom: 110%;}

input{ 
  border-radius: 20px;
  border-style: solid;
  border-color: LightGrey;
  padding: 30px 100px;
  border-width: thin;
  box-shadow: 5px 5px 10px;
}

input1{ 
  padding: 30px 40px;
  border-width: thin;
  background-image: url("exit.png");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

button4 {
}

img {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

div {
   display: block;
  margin: 0 auto;
   padding-top: 55px;
   padding-bottom: 55px;
   text-align:center;
}
div1 {
  margin-left:auto;
  margin-right:0;
  padding-right: 20px;
  text-align:center;
}

div2 {
  margin-right:auto;
  margin-left:0;
  padding-left: 20px;
  text-align:center;
}

div3 {
  margin-right:auto;
  margin-right:0;
  padding-right: 10px;
  text-align:right;
}

